@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
  padding: 0;
  margin: 0;
}
.bannerConteiner{
  display: flex; 
}
.banner {
  width: 100vw;
  height: 400px;
}
.tituloConteiner{
  position: absolute;
  top: 100px;
  left: 39.2%;
  right: 39.2%;
}
.titulo {
  color: white;
  text-align: center;
  margin: 5px;
  font-family: 'Roboto', sans-serif;
}
.main {
  position: absolute;
  top: 150px;
  left: 413px;
  text-align: center;
  height: 500px;
  width: 520px;
  background-color: rgba(255, 99, 71, 0);
}
.containerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  background-color: white;
  border-radius: 10px;
}
.inputCard{
  height: 30px;
  width: 370px;
  margin: 5px;
  border-radius: 50px;
  outline: 0.5;
  border: 0px solid;
  background-color: rgba(170, 118, 183, 0.198);
  
}
.inputCard:focus {
  outline: none;
  border: 0.5px solid rgba(80, 80, 80, 0.287);
}
input::placeholder {
  color: rgba(138, 137, 137, 0.822);
}
.feed{
  list-style: none;
  background-color: darkslategrey;
  height: 380px;
}
.card {
  margin-top: 15px;
  height: 50px;
  width: 520px;
  background-color: violet;
}
.btn-add{
  background: none;
  border: none;
}
.img-btn-add{
  width: 25px;
  cursor: pointer;
}